aiomisc==17.3.23
aiogram==3.3.0
alembic==1.12.1
asyncpg==0.29.0
fastapi==0.110.1
httpx==0.26.0
instructor==1.2.0
ipykernel
numpy==1.26.4
pydub==0.25.1
pydantic==2.5.3
pydantic-settings==2.0.3
python-dotenv==1.0.1
pandas==2.2.0
psycopg2-binary==2.9.9
qdrant-client==1.7.1
redis==5.0.3
regex
SQLAlchemy==2.0.25
starlette==0.37.2
uvicorn==0.29.0